.strofa {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
/*	font-size: 1vw;*/
	color: black;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .strofa {
    font-size: 50px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .strofa {
    font-size: 25px;
  }
}

.stanza {
	display: block;
	margin: auto;
	width: 50%;
	height: 50%;
}