.prose {
	font-family: Verdana, Geneva, sans-serif;
}



.stanza {
	display: block;
	margin: auto;
	width: 50%;
	height: 50%;
}

.strofa {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 25px */
@media screen and (min-width: 601px) {
  .strofa {
    font-size: 25px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 15px */
@media screen and (max-width: 600px) {
  .strofa {
    font-size: 15px;
  }
}



.centered {
	text-align: center;
}

.with_border {
	border-style: solid;
	border-width: 3px;
}